/* root - variables */
:root {
  --color-withe: #ffffff;
  --color-main: #109cd7;
  --color-gray: #949494;
  --color-gray-darck: #333333c4;
  --color-primary: #b8e7f9;
  --color-secondary: #e8f7fe;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  outline: none;
}

/* styles */
body {
  background-color: var(--color-main);
}

.logo-img {
  display: block;
  margin: 0 auto;
}

main {
  width: 410px;
  margin: 0 auto 30px;
  padding: 40px 24px;
  border-radius: 10px;
  background-color: var(--color-primary);
}

label {
  font-size: 15px;
  color: var(--color-gray-darck);
}

select,
input {
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  height: 45px;
  margin: 5px 0 24px;
  padding-left: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #00000025;
  color: var(--color-gray-darck);
  background-color: var(--color-withe);
}

input {
  cursor: text;
  margin-bottom: 0;
  font-weight: 400;
}

input::placeholder {
  color: var(--color-gray);
}

button {
  width: 100%;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--color-secondary);
  background-color: var(--color-main);
  box-shadow: 0 4px 4px #00000031;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.6;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 36px;
  padding: 15px 0;
  border-radius: 10px;
  border: solid 1px var(--color-main);
  background-color: var(--color-withe);
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.arrow-img {
  height: 50px;
  width: 35px;
}

.currency {
  font-size: 14px;
  color: var(--color-gray);
}

.currency-value-to-convert,
.currency-value {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-gray-darck);
}

.currency-box img {
  height: 55px;
}

@media (max-width: 425px) {
  main {
    width: 100%;
  }

  .logo-img {
    width: 100%;
  }
}
